{% extends 'base.html' %}

{% block content %}
  <div class="logout">
    <div class="logout_left">
      <h2>Сайт одной MMORPG</h2>
    </div>

    <div class="logout_right">
      {% if user.is_authenticated %}
        <h2>Привет, {{ user.username }}</h2>
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="logout" />
        </form>
      {% else %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Войти" />
        </form>
        <a href="users/signup/"><button>Регистрация</button></a>
      {% endif %}
    </div>
  </div>
{% endblock %}
